/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

a {
  color: inherit !important;
  text-decoration: none;
}

.grey-border-color {
  border-color: rgba(0, 0, 0, 0.8);
}

.link--hover:hover {
  text-decoration: underline;
  cursor: pointer;
}