name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  backend:
    name: Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.5
          check-latest: true
          cache-dependency-path: "**/*.sum"

      - name: Install dependencies
        run: go mod tidy
        working-directory: src/

      - name: Build
        run: go build cmd/local/main.go
        working-directory: src/

      - name: Test
        run: go test ./... -v
        working-directory: src/

  frontend:
    name: Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Cache pnpm store
        uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '24.5.0'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install pnpm dependencies
        run: pnpm install
        working-directory: src/packages/webclient/

      - name: Build web app
        run: pnpm run build
        working-directory: src/packages/webclient/

  java-sdk:
    name: Java SDK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '25'

      - name: Modify gradlew permissions
        run: chmod +x ./gradlew
        working-directory: java-sdk/

      - name: Build java sdk
        run: ./gradlew jar
        working-directory: java-sdk/
